kaggle.json
tabular_data_classification/rice-type-classification/
image_classification/animal-faces/
transfer_learning/bean-leaf-lesions-classification/
text_classification/news-headlines-dataset-for-sarcasm-detection/